body {
  font-family: "Poppins";
}

h1 {
  color: #0cbbfe;
}

.wrapper {
  display: block;
  margin: auto;
  width: 80%;
  text-align: center;
}

.showbtn {
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
}
